@model MarqueOpen.LigneOperation

<h2>Ajouter une opération</h2>
<hr />


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.IdLigne, new { @Value = ViewBag.NumeroLigne, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdLigne, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temps, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Temps, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class= "control-label col-md-2">Coût horaire</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoutHoraire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CoutHoraire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nom opération</label>
            <div class="col-md-10">
                @Html.DropDownList("IdOperation", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdOperation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter l'opération" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Details", "Devis", new { id = ViewBag.IdDevis }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
