@model MarqueOpen.LigneOperation

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûrs de vouloir supprimer cette ligne?</h3>
<div>
    <h4>LigneOperation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoutHoraire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoutHoraire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operation.Descriptif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operation.Descriptif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour", "Details", "Devis", new { id = ViewBag.IdDevis }, null)
        </div>
    }
</div>
